<app-page-header [heading]="'Analytics'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row">
    <div class="col col-sm-6">
        <div class="card mb-3">
            <div class="card-header">
                Performance Inscan: Time 
            </div>
            <div class="card-block">
                <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngFor="let drill of drilldowns; let last = last">
                    <i>{{drill}}</i> 
                </li>
                <!--<li class="breadcrumb-item"><i></i> </li>-->
                <form class="form-inline my-2 my-lg-0" style="float: right;">
             <input class="form-control mr-sm-2" type="text" placeholder="Filter">
            </form>
                </ol>
                <div id="inscan"></div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="addPoint()">Update</button>
            </div>
        </div>
       
    </div>
<div class="col col-sm-6">
     <div class="card mb-3">
            <div class="card-header">
                Performance Inscan: Inscan Percent
            </div>
            <div class="card-block">
                <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngFor="let drill of drilldowns2">
                    <i>{{drill}}</i> 
                </li>
                <!--<li class="breadcrumb-item"><i></i> </li>-->
                <form class="form-inline my-2 my-lg-0" style="float: right;">
             <input class="form-control mr-sm-2" type="text" placeholder="Filter">
            </form>
                </ol>
                <div id="inscan_percent"></div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="addPoint()">Update</button>
            </div>
        </div>
</div>
</div>
