<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Zast</h1>
            <form name="loginForm" role="form" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="model.username" name="username" #username="ngModel" class="form-control input-underline input-lg" id="" placeholder="Username" required >
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="model.password" name="password" #password="ngModel" class="form-control input-underline input-lg" id="" placeholder="Password" required >
                    </div>
                </div>
                <a [class.disabled]="!model.username || !model.password" class="btn rounded-btn" (click)="login()"> Log in </a>
                &nbsp;
                <!--<a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>-->
                <!--<br><br><br><div *ngIf="error" class="alert alert-danger">-->
    <!--<strong>{{error}}</strong> Try Again!</div>-->
            </form>
            <br>
            <p-messages [(value)]="error"></p-messages>
        </div>
    </div>
</div>
